In [4]:
import pandas as pd
from sklearn import model_selection

df = pd.read_csv('balance-scale.data')

In [5]:
df['kfold'] = -1
df.head()

   B  1  1.1  1.2  1.3  kfold
0  R  1    1    1    2     -1
1  R  1    1    1    3     -1
2  R  1    1    1    4     -1
3  R  1    1    1    5     -1
4  R  1    1    2    1     -1

In [6]:
df = df.sample(frac=1).reset_index(drop = True)

In [7]:
kf = model_selection.KFold(n_splits=5)
for fold, (trn_, val_) in enumerate(kf.split(X=df)):
    df.loc[val_,'kfold'] = fold
df.to_csv('train_folds.csv', index = False)