In [2]:
import pandas as pd
df = pd.read_csv('winequalityN.csv')
df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [3]:
quality_mapping = {3: 0,4: 1, 5: 2,6: 3,7: 4,8:5}
#one can use mapping funtion in panda to map the data according to this mapping
df.loc[:,"quality"] = df.quality.map(quality_mapping)
df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,3.0
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,3.0
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,3.0
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,3.0
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,3.0

In [4]:
df = df.sample(frac=1).reset_index(drop = True) #Removes the shuffled indices as a column when 'drop is true'
df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,6.5,0.15,0.44,12.6,0.052,65.0,158.0,0.99688,3.26,0.70,10.3,4.0
1,white,6.1,0.55,0.15,9.8,0.031,19.0,125.0,0.99570,3.36,0.47,10.2,3.0
2,white,6.9,0.25,0.26,5.2,0.024,36.0,135.0,0.99480,3.16,0.72,10.7,4.0
3,red,6.3,0.47,0.00,1.4,0.055,27.0,33.0,0.99220,3.45,0.48,12.3,3.0
4,white,7.5,0.28,0.78,12.1,0.041,53.0,161.0,0.99838,2.98,0.44,8.7,2.0

In [ ]:
df_train = df.head(1000)
df_test = df.tail(599)